# Introduction to Azure OpenAI Function Calling

## Objective

This notebook demonstrates the following:

1. Generative AI
1. Function calling

## Time

You should expect to spend 2 minutes running this sample.

## About this example

The objective of the provided Python file is to learn about Azure OpenAI Function Calling using the Azure OpenAI API.

## Installation

Refer to the README.md file in this folder for installation instructions.

## Parameters

In [59]:
import os
import json

from typing import Any, Callable, Dict

import pandas as pd
from openai import AzureOpenAI
from dotenv import load_dotenv
from IPython.display import display, HTML

from sales_data import SalesData

load_dotenv(override=True)

api_endpoint = os.getenv("OPENAI_URI")
api_key = os.getenv("OPENAI_KEY")
api_version = os.getenv("OPENAI_VERSION")
api_deployment_name = os.getenv("MODEL_DEPLOYMENT_NAME")

system_message = None

In [60]:
sales_data = SalesData()
sales_data.connect()
db_info = sales_data.get_database_info()
print(db_info)

Database connection opened in read-only mode.
Table sales_data: Columns: id: INTEGER, main_category: TEXT, product_type: TEXT, revenue: REAL, shipping_cost: REAL, number_of_orders: INTEGER, year: INTEGER, month: INTEGER, discount: INTEGER, region: TEXT, month_date: TEXT
Regions: AFRICA, ASIA-PACIFIC, CHINA, EUROPE, LATIN AMERICA, MIDDLE EAST, NORTH AMERICA
Product Types: ACCESSORIES, AVALANCHE SAFETY, BACKPACKING TENTS, BINDINGS, BIVYS, BOULDERING PADS, CANOES, CARABINERS & QUICKDRAWS, CARRY-ONS, CHALK & CHALK BAGS, CLIMBING SHOES, COOKWARE, CRAMPONS, DAYPACKS, DRY BAGS, DUFFEL BAGS, EXTENDED TRIP PACKS, EYE MASKS, FAMILY CAMPING TENTS, FIRST AID KITS, FISHING BAIT, FISHING HOOKS, FISHING LINE, FOOD & NUTRITION, FOOTWEAR ACCESSORIES, FOOTWEAR CARE PRODUCTS, GLOVES & HATS, GLOVES & MITTENS, GOGGLES, HAMMOCKS, HARNESSES, HELMETS, HIKING BOOTS, HYDRATION PACKS, ICE AXES, INSULATED FOOTWEAR, JACKETS & VESTS, KAYAKS, LINERS, LUGGAGE LOCKS, MOUNTAINEERING BOOTS, NAVIGATION TOOLS, OTHER, OUTERWEAR, OVERNIGHT PACKS, PACKING ORGANIZERS, PADDLES, PANTS & SHORTS, POLES, RASH GUARDS, RODS & REELS, ROPES & SLINGS, SAFETY GEAR, SANDALS, SECURITY, SHELTERS & TARPS, SHIRTS, SKI BINDINGS, SKI BOOTS, SKI POLES, SKIS, SLACKLINES, SLEEPING BAGS, SLEEPING PADS, SNORKELING & DIVING GEAR, SNOWBOARD BOOTS, SNOWBOARDS, SNOWSHOES, STOVES, SURF ACCESSORIES, SURFBOARDS, SWIMWEAR, TACKLE, TECH ORGANIZERS, THERMAL UNDERWEAR, TOPS, TRAIL SHOES, TRAINING EQUIPMENT, TRAVEL ACCESSORIES, TRAVEL BACKPACKS, TRAVEL PILLOWS, UNDERWEAR & BASE LAYERS, UTENSILS & ACCESSORIES, WADERS, WATER FILTRATION & PURIFICATION, WETSUITS, WINTER BOOTS
Product Categories: APPAREL, CAMPING & HIKING, CLIMBING, FISHING GEAR, FOOTWEAR, TRAVEL, WATER GEAR, WINTER SPORTS
Reporting Years: 2022, 2023, 2024

In [61]:
def log_message(message: str):
    display(
        HTML(f'<span style="color: red;"><strong>{message}</strong></span>'))

In [62]:
def print_in_color(key, value):
    display(HTML(f"<span style='color: green;font-weight: bold;font-size: medium;'>{key}</span> "
            f"<span style='color: blue;font-weight: bold;font-size: medium;'>{value}</span>"))

In [63]:
def display_wrapped(message: str):
    wrapped_content = f'<pre style="white-space: pre-wrap; word-wrap: break-word;">{message}</pre>'
    display(HTML(wrapped_content))

### Create an AzureOpenAI client

In [64]:
client = AzureOpenAI(api_key=api_key, api_version=api_version,
                     azure_endpoint=api_endpoint)

### Define the Assistant tools

The tools list defines the tools that the OpenAI Chat Completion will look for when generating a response. It's then up to the application to decide how to use the response. In this example corresponding Python functions are defined for each tool and the response is passed to the appropriate function.

In [65]:
tools_list = [
    {
        "type": "function",
        "function": {
            "name": "fetch_sales_data_using_sqlite_query",
            "description": "This function is used to answer user questions about Contoso sales data by executing SQLite queries against the database.",
            "parameters": {
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string",
                        "description": f"""
                            The input should be a well-formed SQLite query to extract information based on the user's question.
                            The query result will be returned as plain text, not in JSON format.
                        """,
                    }
                },
                "required": ["query"],
                "additionalProperties": False,
            },
        },
    },
]

In [66]:
function_map: Dict[str, Callable[[Any], pd.DataFrame]] = {
    "fetch_sales_data_using_sqlite_query": lambda args: sales_data.fetch_sales_data_using_sqlite_query_pandas(args["query"]),
}

### Process Function calling

Responsible for calling the appropriate function based on the tool detected in the response. The function is called with the response and the tool as arguments.

In [67]:
def call_functions(tool_calls) -> None:

    for tool_call in tool_calls:
        func_name = tool_call.function.name
        arguments = json.loads(tool_call.function.arguments)

        print_in_color("Executing function tool call", "")
        print_in_color("Function Name:", func_name)
        print_in_color("Arguments:", arguments)

        function = function_map.get(func_name)
        if not function:
            raise ValueError(f"Unknown function: {func_name}")

        result_df = function(arguments)
        display(result_df)

## Instructions for role system assignment

Defines the system message for the role system assignment.

In [68]:
system_message = (
    "You are a sales analysis assistant for Contoso. "
    "Please be polite, professional, helpful, and friendly. "
    "Use the `fetch_sales_data_using_sqlite_query` function to execute sales data queries, defaulting to aggregated data unless a detailed breakdown is requested. The function returns JSON-formatted results. "
    f"Refer to the Contoso sales database schema: {db_info}. ",
    "If a question is not related to Contoso sales data or you cannot answer the question, "
    "then simply say, 'I can't answer that question. Please contact IT for more assistance.' "
    "If the user asks for help or says 'help', provide a list of sample questions that you can answer."
)
print(system_message)

('You are a sales analysis assistant for Contoso. Please be polite, professional, helpful, and friendly. Use the `fetch_sales_data_using_sqlite_query` function to execute sales data queries, defaulting to aggregated data unless a detailed breakdown is requested. The function returns JSON-formatted results. Refer to the Contoso sales database schema: Table sales_data: Columns: id: INTEGER, main_category: TEXT, product_type: TEXT, revenue: REAL, shipping_cost: REAL, number_of_orders: INTEGER, year: INTEGER, month: INTEGER, discount: INTEGER, region: TEXT, month_date: TEXT\nRegions: AFRICA, ASIA-PACIFIC, CHINA, EUROPE, LATIN AMERICA, MIDDLE EAST, NORTH AMERICA\nProduct Types: ACCESSORIES, AVALANCHE SAFETY, BACKPACKING TENTS, BINDINGS, BIVYS, BOULDERING PADS, CANOES, CARABINERS & QUICKDRAWS, CARRY-ONS, CHALK & CHALK BAGS, CLIMBING SHOES, COOKWARE, CRAMPONS, DAYPACKS, DRY BAGS, DUFFEL BAGS, EXTENDED TRIP PACKS, EYE MASKS, FAMILY CAMPING TENTS, FIRST AID KITS, FISHING BAIT, FISHING HOOKS, FISHING LINE, FOOD & NUTRITION, FOOTWEAR ACCESSORIES, FOOTWEAR CARE PRODUCTS, GLOVES & HATS, GLOVES & MITTENS, GOGGLES, HAMMOCKS, HARNESSES, HELMETS, HIKING BOOTS, HYDRATION PACKS, ICE AXES, INSULATED FOOTWEAR, JACKETS & VESTS, KAYAKS, LINERS, LUGGAGE LOCKS, MOUNTAINEERING BOOTS, NAVIGATION TOOLS, OTHER, OUTERWEAR, OVERNIGHT PACKS, PACKING ORGANIZERS, PADDLES, PANTS & SHORTS, POLES, RASH GUARDS, RODS & REELS, ROPES & SLINGS, SAFETY GEAR, SANDALS, SECURITY, SHELTERS & TARPS, SHIRTS, SKI BINDINGS, SKI BOOTS, SKI POLES, SKIS, SLACKLINES, SLEEPING BAGS, SLEEPING PADS, SNORKELING & DIVING GEAR, SNOWBOARD BOOTS, SNOWBOARDS, SNOWSHOES, STOVES, SURF ACCESSORIES, SURFBOARDS, SWIMWEAR, TACKLE, TECH ORGANIZERS, THERMAL UNDERWEAR, TOPS, TRAIL SHOES, TRAINING EQUIPMENT, TRAVEL ACCESSORIES, TRAVEL BACKPACKS, TRAVEL PILLOWS, UNDERWEAR & BASE LAYERS, UTENSILS & ACCESSORIES, WADERS, WATER FILTRATION & PURIFICATION, WETSUITS, WINTER BOOTS\nProduct Categories: APPAREL, CAMPING & HIKING, CLIMBING, FISHING GEAR, FOOTWEAR, TRAVEL, WATER GEAR, WINTER SPORTS\nReporting Years: 2022, 2023, 2024. ', "If a question is not related to Contoso sales data or you cannot answer the question, then simply say, 'I can't answer that question. Please contact IT for more assistance.' If the user asks for help or says 'help', provide a list of sample questions that you can answer.")

## Construct the Assistant and send to Azure OpenAI

In [69]:
def process_message(question: str):

    messages = [{"role": "system", "content": str(system_message)}, {
        "role": "user", "content": question}]

    try:
        response = client.chat.completions.create(
            model=api_deployment_name,
            messages=messages,
            tools=tools_list,
            temperature=0.2,
            max_tokens=512,
        )

        response_message = response.choices[0].message
        tool_calls = getattr(response_message, "tool_calls", [])

        if tool_calls:
            call_functions(tool_calls)
        else:
            display_wrapped(response_message.content)

    except Exception as e:
        log_message(f"An error occurred: {e}")

In [70]:
process_message("What is the revenue for the region of Africa?")

   total_revenue
0      5227467.0

In [71]:
process_message(
    "What is the revenue for each of the americas for 2023? Be sure to include the year.")

          region  total_revenue  year
0  LATIN AMERICA      1693693.0  2023
1  NORTH AMERICA      5395752.0  2023

In [72]:
process_message("What is the revenue for all regions?")

          region  total_revenue
0         AFRICA      5227467.0
1   ASIA-PACIFIC      5363718.0
2          CHINA     10540412.0
3         EUROPE      9990708.0
4  LATIN AMERICA      5386552.0
5    MIDDLE EAST      5312519.0
6  NORTH AMERICA     15986462.0

In [73]:
process_message("What is the revenue for all regions? Include the year.")

    year         region  total_revenue
0   2022         AFRICA      1712309.0
1   2022   ASIA-PACIFIC      1665948.0
2   2022          CHINA      3271673.0
3   2022         EUROPE      3132756.0
4   2022  LATIN AMERICA      1693568.0
5   2022    MIDDLE EAST      1712588.0
6   2022  NORTH AMERICA      4953705.0
7   2023         AFRICA      1695169.0
8   2023   ASIA-PACIFIC      1721135.0
9   2023          CHINA      3457517.0
10  2023         EUROPE      3460195.0
11  2023  LATIN AMERICA      1693693.0
12  2023    MIDDLE EAST      1681687.0
13  2023  NORTH AMERICA      5395752.0
14  2024         AFRICA      1819989.0
15  2024   ASIA-PACIFIC      1976635.0
16  2024          CHINA      3811222.0
17  2024         EUROPE      3397757.0
18  2024  LATIN AMERICA      1999291.0
19  2024    MIDDLE EAST      1918244.0
20  2024  NORTH AMERICA      5637005.0

In [74]:
process_message("What were the sales for April 2023?")

   total_revenue  total_shipping_cost  total_orders
0      1713964.0            261259.47         11541

In [75]:
process_message("What is the meaning of life?")

In [76]:
sales_data.close()

Database connection closed.